@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.msg-div {
    width: auto;
    height: 100%;
    border: none;
    border-radius: 20px;
    margin: 1rem 2rem;
}

.msg-icon-bg {
    background-color: #E8E8E8;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-left: 0px;
}

.msg-tab-ul {
    display: flex;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;
    margin-right: 0px;
}

.msg-search-bar {
    height: 30px;
    width: 160px;
    background-color: #E8E8E8;
    border: none;
    outline: none;
    padding-left: 4px;
}

.msg-tab-ul-li {
    color: #818589;
    font-weight: 500;
    cursor: pointer;
}

.msg-tab-ul-li :hover {
    color: black;
}

.primary-msg {
    height: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.primary-msg::-webkit-scrollbar {
    display: none;
}

.msg-user {
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
}

.msg-user-name {
    font-weight: 700;
    font-size: 0.8rem;
    padding-left: 10px;
    height: 8px;
}

.msg-user-status {
    font-weight: 600;
    font-size: 0.7rem;
    padding-left: 10px;
    color: #818589;
    width: 150px;
    height: 1px;
}

.msg-primary-pic {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
}


@media only screen and (max-width: 420px) {
    .msg-div {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: 0;
    }

    .msg-form {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .msg-search-bar {
        width: 25rem;
    }

    .msg-tab ul {
        margin-left: 0;
        margin-right: 30px;
    }

    .primary-msg {
        height: 44.4rem;
        width: 100%;
        margin-top: 0;
    }

    .msg-user-name {
        width: 100%;
        font-size: 1rem;
    }

    .msg-user-status {
        width: 100%;
        font-size: 0.8rem;
    }

    .msg-icon-bg {
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 25px;
    }

    .msg-primary-pic {
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 25px;
    }
}